.benefits__item {
   display: block;
   width: 100%;
   
   @include mobile {
      width: 450px;
         }
   @include tablet {
      width: 354px;
   }
   @include desktop {
      width: 270px;
   }
   
}
.benefits__iconbox {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #f5f4fa;
   margin-bottom: 30px;
   height: 120px;

   @include mobile {
      width: 450px;
         }
   @include tablet {
      width: 354px;
   }
   @include desktop {
      width: 270px;
   }
}

.benefits__header {
   font-weight: var(--font-weight);
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--text-color);
   margin-top: 0px;
   margin-bottom: 10px;
}
.benefits__text {
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: var(--basetext-color);
   margin: 0px;
   max-width: 270px;
}
