.customer__item {
   width: calc((100% - 30px) / 2);
   @include tablet {
      width: calc((100% - 60px) / 3);
   }
   @include desktop {
      width: calc((100% - 150px) / 6);
   }
}
.customer__link {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 92px;
   border: 1px solid #afb1b8;
   border-radius: 4px;
   transition: border var(--trans);
   &:hover,
   &:focus {
      background-color: var(--accent-color);
      border: 1px solid var(--header-color);
   }
}
.customer__icon {
   fill: #afb1b8;
   transition: fill var(--trans);
   .customer__link:hover &,
   .customer__link:focus & {
      fill: var(--header-color);
   }
}
