.header {
   border-bottom: 1px solid #ececec;
   padding: 24px 0 25px;
}
.header__container {
   display: flex;
   align-items: center;
}

.logo {
   font-family: Raleway;
   font-weight: var(--font-weight);
   font-size: 26px;
   line-height: 1.2;
   color: var(--header-color);
   text-decoration: none;
   letter-spacing: 0.02em;
}
.logo__header {
   margin-right: 93px;
}
.logo__dark {
   color: #000000;
}
.navmenu__button {
   position: absolute;
   top: 8px;
   right: 8px;
   border: none;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40px;
   height: 40px;
   background: var(--accent-color);
   &:hover,
   &:focus {
      fill: var(--header-color);
      cursor: pointer;
   }
}

.navigation {
   // display: none;
   column-gap: 50px;
}
.navigation__link {
   padding-left: 2px;
   padding-right: 2px;
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   color: var(--text-color);
   transition: color var(--trans);
   &:hover,
   &:focus {
      color: var(--header-color);
   }
}
.navigation__link.navigation__link--current {
   color: var(--header-color);
}
.navigation__link--current {
   position: relative;
   &::after {
      content: '';
      display: flex;
      width: 100%;
      height: 4px;
      background: var(--header-color);
      border-radius: 2px;
      position: absolute;
      left: 0;
      top: 47px;
   }
}
.contacts {
   display: none;
   margin-left: auto;
   column-gap: 50px;
}
.contacts__mail,
.contacts__tel {
   display: flex;
   align-items: center;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   color: var(--basetext-color);
   &:hover,
   &:focus {
      color: var(--header-color);
   }
   transition: color var(--trans);
}
.contacts__icon {
   margin-right: 10px;
   fill: var(--basetext-color);
   transition: fill var(--trans);
   &:hover,
   &:focus {
      fill: currentColor;
   }
   .contacts__mail:hover &,
   .contacts__mail:focus & {
      fill: currentColor;
   }
   .contacts__tel:hover &,
   .contacts__tel:focus & {
      fill: currentColor;
   }
}
