.filters {
   margin-bottom: 40px;
   column-gap: 8px;
   row-gap: 15px;
   @include tablet {
      justify-content: center;
      margin-bottom: 14px;
   }
   @include desktop {
      justify-content: center;
      margin-bottom: 50px;
   }
}
.filters__button {
   font-family: inherit;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.62;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--text-color);
   background: #f5f4fa;
   cursor: pointer;
   border-radius: 4px;
   padding: 6px 22px;
   min-width: 73px;
   text-align: center;
   border: 0;
   transition: background-color var(--trans), color var(--trans), box-shadow var(--trans);
   &:hover,
   &:focus {
      background: var(--header-color);
      color: var(--accent-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
         0px 2px 2px rgba(0, 0, 0, 0.12);
   }
}

.ourserv__item {
   @include tablet {
    width: calc((100% - 30px) / 2);  
   }
   @include desktop {
    width: calc((100% - 60px) / 3);  
   }
}
.oserv__link {
   display: flex;
   flex-direction: column;
   height: 100%;
   transition: box-shadow var(--trans);
   &:hover,
   &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
         1px 4px 6px rgba(0, 0, 0, 0.16);
   }
}
.oserv-over {
   position: relative;
   overflow: hidden;
}
.over-text {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   font-size: 18px;
   line-height: 1.56;
   letter-spacing: 0.03em;
   padding: 0 24px;
   display: flex;
   align-items: center;
   color: var(--accent-color);
   background: rgba(33, 150, 243, 0.9);
   transform: translateY(100%);
   transition: transform var(--trans);
   .oserv__link:hover &,
   .oserv__link:focus & {
      transform: translateY(0);
      transition: transform var(--trans);
   }
}
.oserv-item-head {
   font-weight: var(--font-weight);
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
   color: var(--text-color);
   margin-bottom: 4px;
  
}
.oserv-item-text {
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.03em;
   color: var(--basetext-color);
}
.oserv-text {
   padding: 20px 24px;
   flex-grow: 1;
   border: 1px solid #eeeeee;
}
