.sociallinks {
   justify-content: center;
   gap: 10px;
}
.sociallinks__item {
   width: 44px;
   height: 44px;
}
.sociallinks__link {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
   border-radius: 50%;
   transition: background-color var(--trans);
   &:hover,
   &:focus {
      background-color: var(--header-color);
   }
}
.sociallinks__icon {
   fill: #afb1b8;
   transition: fill var(--trans);
   .sociallinks__link:hover &,
   .sociallinks__link:focus & {
      fill: var(--accent-color);
   }
}
