.container {
   padding-left: 15px;
   padding-right: 15px;
   @include mobile {
      width: 480px;
   }
   @include tablet {
      width: 768px;
   }
   @include desktop {
      width: 1200px;
   }
}
.section {
   padding: 60px 0px;
   @include desktop {
      padding: 94px 0px;
   }
}
.section__title {
   @extend %sectiontitle;
}
