.backdrop {
   position: fixed;
   width: 100%;
   height: 100%;
   left: 0px;
   top: 0px;
   background: rgba(0, 0, 0, 0.2);
   transition: opacity var(--trans), visibility var(--trans);
}
.is-hidden {
   opacity: 0;
   pointer-events: none;
   visibility: hidden;
}
.modal {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 450px;
   height: 100%;
   background-color: var(--accent-color);
   transform: translate(-50%, -50%) scale(1);
   transition: transform var(--trans);
   padding: 40px;
   .backdrop.is-hidden & {
      transform: translate(-50%, -50%) scale(0);
   }
   @include desktop {
    width: 528px;
    height: 581px;  
   }
}
.bt-modal {
   position: absolute;
   top: 8px;
   right: 8px;
   border: none;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   border: 1px solid rgba(0, 0, 0, 0.1);
   background: var(--accent-color);
   &:hover,
   &:focus {
      fill: var(--header-color);
      cursor: pointer;
   }
}
.modal-title {
   font-weight: var(--font-weight);
   font-size: 20px;
   line-height: 1.5;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--text-color);
   margin-bottom: 12px;
   @include desktop {
      line-height: 1.15;
   }

}
.input-label {
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.01em;
   color: var(--basetext-color);
   margin-bottom: 4px;
}
.input-wrap {
   position: relative;
}
.md-form-input {
   width: 100%;
   height: 40px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   padding: 11px 12px 11px 42px;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.01em;
   color: var(--text-color);
   transition: var(--trans);
   &:focus {
      outline-color: var(--header-color);
   }
}
.form-field {
   margin-bottom: 10px;
}
.icon-form {
   position: absolute;
   left: 12px;
   top: 50%;
   transform: translateY(-50%);
   transition: var(--trans);
   .md-form-input:focus + & {
      fill: var(--header-color);
   }
}
.md-form-input-com {
   width: 100%;
   height: 96px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   padding: 12px 16px;
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.01em;
   color: var(--text-color);
   resize: none;
   transition: var(--trans);
   &:focus {
      outline-color: var(--header-color);
   }
}
.form-field-area {
   margin-bottom: 20px;
}
.md-form-button {
   display: block;
   margin: 30px auto;
   width: 200px;
   height: 50px;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.06em;
   color: var(--accent-color);
   background-color: var(--header-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   border: 0;
   cursor: pointer;
   transition: var(--trans);
   &:hover,
   &:focus {
      outline-color: var(--header-color);
   }
}
.ch-text {
   display: flex;
   align-items: flex-start;
   justify-content: center;
   font-size: 12px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: #757575;
   @include desktop {
      font-size: 14px;
   }
}
.ch-text span {
   display: flex;
   align-items: center;
   justify-content: center;
   border: 2px solid var(--text-color);
   border-radius: 3px;
   margin-right: 8px;
   transition: background-color var(--trans), border var(--trans);
   .form-checkbox:focus + & {
      border: 2px solid var(--header-color);
   }
   .form-checkbox:checked + & {
      background-color: var(--header-color);
      border: 2px solid var(--header-color);
   }
}
.check-icon {
   fill: transparent;
   transition: fill var(--trans);
   .form-checkbox:checked + .ch-text & {
      fill: var(--accent-color);
   }
}
.ch-link {
   color: var(--header-color);
   padding-left: 3px;
}
