.list {
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
}
.link {
   text-decoration: none;
   }
body {
   font-family: 'Roboto', sans-serif;
   color: var(--text-color);
   background-color: var(--accent-color);
}